:root{
  --first: #C1C8C7;
  --second: #252B31;
  --third: #fad504;
}

*{
    box-sizing: border-box;
    word-wrap: break-word;
}
a{
  text-decoration: none;
  color: #000;
}
    
html{
  font-family: 'Roboto Slab', serif;
}
.section{
  width: 100%;
  min-height: 500px;
  height: auto;
  padding: 30px 40px;
  position: relative;
  overflow: hidden;
}
    
.colored-sect{
  background:linear-gradient(140deg, rgba(193,200,199,0.6) 0%, rgba(193,200,199,0) 99%)
}
    
.title{
  font-family: 'Russo One', sans-serif;
  margin: 0;
  margin-bottom: 3px;
  font-size: 42px;
  text-align: center;
}
    
.title-underline{
  display: block;
  height: 4px;
  width: 170px;
  max-width: 200px;
  margin: auto;
  background-color: var(--third);
  margin-bottom: 55px;
  transform: translateX(-70px);
  opacity: 0;
  transition: all 0.5s ease-in;
}
    
.title-underline.anim-active{
  transform: translateX(0px);
  opacity: 1;
}
        
@media screen and ( max-width: 750px ){
  .title-underline{
    margin-bottom: 35px;
  }
}
   
@media screen and ( max-width: 550px ){
  .title-underline{
    margin-bottom: 20px;
  }
  .section{
    padding-right: 30px;
  }
}
    
@media screen and ( max-width: 500px )
{
  .title{
    font-size: 32px;
  }
  .title-underline{
    width: 120px;
  }
}
    
@media screen and ( max-width: 375px ){
  .section{
    padding: 20px;
  }
  .title{
      font-size: 28px;
  }
}
   
@media screen and ( max-width: 740px ){
  .header__title{
    font-size: 60px;
  }
  .header__subtitle{
    font-size: 32px;
  }
}
 

.decoration-img{
    position: absolute;
}
.decoration-left{
    left: 20px;
}
.decoration-right{
    right: 20px;
}
@media screen and ( max-width:  1100px){
  .decoration-right, .decoration-left{
      display: none;
  }
}
